<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-body">
      <h1 style="color: gold">Login</h1>
      <div class="d-grid gap-2 col-6 mx-auto">
        <form
          #loginmember="ngForm"
          (ngSubmit)="onClickSubmit(loginmember.value)"
        >
          <span class="input-group-text" id="addon-wrapping">Username</span>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="jeff123"
            aria-label="username"
            aria-describedby="addon-wrapping"
            ngModel
          />
          <br />
          <span class="input-group-text" id="addon-wrapping">Password</span>
          <input
            type="text"
            name="password"
            class="form-control"
            placeholder="********"
            aria-label="password"
            aria-describedby="addon-wrapping"
            ngModel
          />
          <button type="submit" value="submit" class="btn btn-success">
            Login
          </button>
        </form>
      </div>
      <a href="/register">
        <h3>Don't have an account? Register Here!</h3>
        </a>
    </div>
  </body>
</html>
