<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
  </head>
  <body>
    <div class="todo-header">
      <h1 style="color: gold">Add Todos Here</h1>
      <div class="d-grid gap-2 col-6 mx-auto">
        <form #addtodo="ngForm" (ngSubmit)="onClickSubmit(addtodo.value)">
          <span class="input-group-text" id="addon-wrapping">title</span>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="homework"
            aria-label="title"
            aria-describedby="addon-wrapping"
            ngModel
          />
          <br />
          <span class="input-group-text" id="addon-wrapping">body</span>
          <input
            type="text"
            name="body"
            class="form-control"
            placeholder="complete math and science by monday"
            aria-label="body"
            aria-describedby="addon-wrapping"
            ngModel
          />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
    <div class="todo-body">
      <div *ngFor="let todo of todos">  
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">{{ todo.body }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
