<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <div class="todo-header">
        <h1>Add Todos Here</h1>
    </div>
    <div class="todo-body">
        <ul>
            <li>Do math homework</li>
            <li>Finish Angular project</li>
            <li>Feed piggies</li>
            <li>Eat food</li>
            <li>Read before bed</li>
        </ul>
    </div>
</body>
</html>